---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');
console.log(blogPosts);
---

<MainLayout title="Home Page">
    <h1>Welcome to Astro News</h1>
</MainLayout>