---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

type BlogPost = CollectionEntry<'blog'>;

const blogPosts = await getCollection('blog');
console.log(blogPosts);
---

<MainLayout title="Homepage">
    <h1>Homepage</h1>
    <h2>Slider Posts</h2>
    <ul>
        {
            blogPosts
                .filter((post: BlogPost) => post.data.isPinned)
                .map((post: BlogPost) => (
                <li>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>

    <h2>Articles</h2>
    <ul>
        {
            blogPosts
                .map((post: BlogPost) => (
                <li>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</MainLayout>